[submodule "linux-firmware.git"]
	path = linux-firmware.git
	url = git://git.proxmox.com/git/mirror_linux-firmware.git
[submodule "dvb-firmware.git"]
	path = dvb-firmware.git
	url = git://git.proxmox.com/git/mirror_dvb-firmware.git
